@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-family: 'Billabong', cursive;
  font-size: 2rem;
}

.scroll {
  overflow: scroll;
  // max-height: 490px;
  max-height: 305px;
}

nav.pagination {
  display: none;
}

.user-box {
  padding: 30px;
  border: 1px solid #dcdcdc;
  background-color: #f8fffc;
}

